@model IEnumerable<ATH_UBB.Areas.Admin.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>  
            <td>
               <form method="post" action="@Url.Action("SetAdminRole","Roles", new {area = "Admin"})">
                   <button type ="submit">Set Admin</button>
               </form>
            </td>

        </tr>
}
    </tbody>
</table>
